<md-content flex layout-padding ng-controller="answerSetCtrl" id="answerSetController">

<div layout-align="center center">

<md-card layout="column" layout-sm>
<form enctype="multipart/form-data" name="group_form" id="answer_set_form" ng-submit="saveAnswerSet()">
	
	<md-card-header>
		<md-card-title>
			<i class="far fa-plus-square"></i> &nbsp;&nbsp;
			<b>طقم إجابات جديد</b>
		</md-card-title>
	</md-card-header>
	
	<md-card-content>
		
		<md-input-container  layout="column" flex="100">
		  <label>اسم طقم الإجابات</label>
		  <input type="text" name="name" ng-model="answerSet.name" md-maxlength="120" minlength="4" style="width:100%" required>
		  <div ng-messages="group_form.name.$error" style="color:maroon" role="alert">
			<div ng-message="required">الاسم ملوب</div>
			<div ng-message="minlength">الاسم قصير جداً</div>
			<div ng-message="md-maxlength">الاسم طويل جداً</div>
		  </div>
		</md-input-container>
		
		<md-input-container  layout="column" flex="100">
		  <label>الوصف</label>
		  <input type="text" name="description" ng-model="answerSet.description" style="width:100%">
		</md-input-container>
		
		<md-input-container layout="column" >
		  <label>النوع</label>
		  <md-select name="type" ng-model="answerSet.type" style="width:100%" required ng-change="typeChanged()">
			<md-select-header>
			  <span> النوع - </span>
			</md-select-header>
			<md-option ng-value="type.value" ng-repeat="type in answerSetTypes">{{ type.name }}</md-option>
		  </md-select>
		</md-input-container>
		
        <md-card ng-if="answerSet.type == 'radiogroup' || answerSet.type == 'checkbox'">
        <md-card-header>
		<md-card-title>
			<i class="far fa-plus-square"></i> &nbsp;&nbsp;
			<b>قيم الطقم</b>
		</md-card-title>
        </md-card-header>
        
        <md-card-content flex="100" style="width:100%">
            <md-input-container flex="25" style="width:20%">
                <label>اسم القيمة</label>
                <input ng-model="value.name" placeholder="ادخل الاسم" type="text" required>
            </md-input-container>
            <md-input-container flex="25"  style="width:20%">
                <label>لون النص</label>
                <input ng-model="value.text_color" placeholder="أنقر لإختيار لون النص" type="color">
            </md-input-container>
            <md-input-container flex="25"  style="width:20%">
                <label>لون الخلفية</label>
                <input ng-model="value.bg_color" placeholder="أنقر لإختيار لون الخلفية" type="color">
            </md-input-container> 
            <md-input-container flex="25"  style="width:20%">
                <label>القيمة</label>
                <input ng-model="value.value" placeholder="ادخل القيمة" type="text">  
            </md-input-container>
            <md-input-container flex="25"  style="width:10%">
                <md-button class="md-primary md-raised" ng-click="addToValues()">+</md-button> 
            </md-input-container>
            
            <div class="container">
                <div class="row" ng-repeat="value in answerSetValues">
                    
                    <md-input-container flex="25" style="width:20%">
                        <label>اسم القيمة</label>
                        <input ng-model="value.name" placeholder="ادخل الاسم" type="text" disabled>
                    </md-input-container>
                    <md-input-container flex="25"  style="width:20%">
                        <label>لون النص</label>
                        <input ng-model="value.text_color" placeholder="ادخل لون النص" type="color" disabled>
                    </md-input-container>
                    <md-input-container flex="25"  style="width:20%">
                        <label>لون الخلفية</label>
                        <input ng-model="value.bg_color" placeholder="ادخل لون الخلفية" type="color" disabled>
                    </md-input-container> 
                    <md-input-container flex="25"  style="width:20%">
                        <label>القيمة</label>
                        <input ng-model="value.value" placeholder="ادخل القيمة" type="text" disabled>  
                    </md-input-container>
                    <md-input-container flex="25"  style="width:10%">
                        <md-button class="md-primary md-raised" ng-click="removeFromValues($index)">-</md-button> 
                    </md-input-container>

                </div>
            </div>
        </md-card-content>
        </md-card>
        
	</md-card-content>
	 <md-card-footer>
		<md-button class="md-primary md-raised" type="submit">إضافة طقم الإجابات</md-button>
	 </md-card-footer>
	 
	</form>
	</md-card>
</div>	
</md-content>